{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 my-3 text-center">
            <h1>Coffee Nutrients Statistics</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 offset-md-6 offset-lg-8 offset-xl-9">
            <select id="categories" class="form-select" aria-label="select a category">
                {% for category in categories %}
                <option value="{{ category.name }}" {% if category.name == current_category.name %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
              </select>
        </div>
        <div class="col-12 my-3"></div>
    </div>
    <div class="row">
        <div class="col-6 col-lg-3 mb-3 mb-lg-0">
            <div class="card">
                <div class="card-body d-flex justify-content-between">
                    <div class="d-block">
                        <h2>{{ count }}</h2>
                        <p class="text-body-secondary mb-0">Number of drinks</p>
                    </div>
                    <div class="d-block my-auto">
                        <i class="fa-solid display-5 fa-mug-hot"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mb-3 mb-lg-0">
            <div class="card">
                <div class="card-body d-flex justify-content-between">
                    <div class="d-block">
                        <h2>{{ min|floatformat:0 }}</h2>
                        <p class="text-body-secondary mb-0">Lowest amount of {{ current_category.name }}{% if current_category.units %} ({{ current_category.units }}){% endif %}</p>
                    </div>
                    <div class="d-block my-auto">
                        <i class="fa-solid display-5 fa-circle-minus" style="line-height: 1.2;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body d-flex justify-content-between">
                    <div class="d-block">
                        <h2>{{ max|floatformat:0 }}</h2>
                        <p class="text-body-secondary mb-0">Highest amount of {{ current_category.name }}{% if current_category.units %} ({{ current_category.units }}){% endif %}</p>
                    </div>
                    <div class="d-block my-auto">
                        <i class="fa-solid display-5 fa-circle-plus" style="line-height: 1.2;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body d-flex justify-content-between">
                    <div class="d-block">
                        <h2>{{ average|floatformat:0 }}</h2>
                        <p class="text-body-secondary mb-0">Average amount of {{ current_category.name }}{% if current_category.units %} ({{ current_category.units }}){% endif %}</p>
                    </div>
                    <div class="d-block my-auto">
                        <i class="fa-solid display-5 fa-circle-info" style="line-height: 1.2;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 my-3">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 px-4 mb-5">
            <canvas class="shadow rounded-5 p-3" id="beverage-categories-chart"></canvas>
        </div>
        <div class="col-12 col-lg-6 px-4 mb-5">
            <canvas class="shadow rounded-5 p-3" id="nutrients-chart"></canvas>
        </div>
        <div class="col-12 col-lg-6 px-4 mb-5">
            <canvas class="shadow rounded-5 p-3" id="calories-sugar-chart"></canvas>
        </div>
        <div class="col-12 col-lg-6 px-4 mb-5">
            <canvas class="shadow rounded-5 p-3" id="beverages-chart"></canvas>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{{ dataset|json_script:"dataset" }}
<script type="text/javascript" src="{% static '/js/script.js' %}"></script>
{% endblock %}