{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 my-3 text-center">
            <h1>Coffee Sales Statistics</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6 col-lg-3 mb-3 mb-lg-0">
            <div class="card">
                <div class="card-body d-flex justify-content-between">
                    <div class="d-block">
                        <h2>£{{ total_sales|floatformat:"1" }} K</h2>
                        <p class="text-body-secondary text-capitalize mb-0">total sales</p>
                    </div>
                    <div class="d-block my-auto">
                        <i class="fa-solid display-5 fa-tag"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mb-3 mb-lg-0">
            <div class="card">
                <div class="card-body d-flex justify-content-between">
                    <div class="d-block">
                        <h2>£{{ average_price|floatformat:"2" }}</h2>
                        <p class="text-body-secondary text-capitalize mb-0">average price</p>
                    </div>
                    <div class="d-block my-auto">
                        <i class="fa-solid display-5 fa-sack-dollar"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body d-flex justify-content-between">
                    <div class="d-block">
                        <h2>{{ average_quantity|floatformat:"2" }}</h2>
                        <p class="text-body-secondary text-capitalize mb-0">Average quantity</p>
                    </div>
                    <div class="d-block my-auto">
                        <i class="fa-solid display-5 fa-mug-hot"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body d-flex justify-content-between">
                    <div class="d-block">
                        <h2>£{{ average_spend|floatformat:"2" }}</h2>
                        <p class="text-body-secondary text-capitalize mb-0">Average spend</p>
                    </div>
                    <div class="d-block my-auto">
                        <i class="fa-solid display-5 fa-bag-shopping"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-lg-6 px-4 my-3">
            <canvas class="shadow rounded-5 p-3" id="sales-chart"></canvas>
        </div>
        <div class="col-12 col-lg-6 px-4 my-3">
            <canvas class="shadow rounded-5 p-3" id="product-type-chart"></canvas>
        </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{{ dataset|json_script:"dataset" }}
<script type="text/javascript">
    let dataset = JSON.parse($('#dataset').text());
    new Chart($('#sales-chart'), {
    type: 'pie',
    data: {
      labels: dataset['sales_labels'],
      datasets: [{
        label: 'Sales (£)',
        data: dataset['sales_data'],
        hoverOffset: 4
      }]
    },
    options: {
      plugins: {
            legend: {
                position: 'left'
            },
            title: {
                display: true,
                text: 'Beverage Sales by Location',
            }
        }
    }
});
    new Chart($('#product-type-chart'), {
    type: 'bar',
    data: {
      labels: dataset['product_type_labels'],
      datasets: [{
        label: 'Sales (£)',
        data: dataset['product_type_data'],
        borderWidth: 1
      }]
    },
    options: {
      maintainAspectRatio: false,
      scales: {
        x: {
			ticks: {
				maxRotation: 45,
				minRotation: 45,
			}
		},
      },
      plugins: {
            title: {
                display: true,
                text: 'Highest Sales by Product Type',
            }
        }
    }
  });
</script>
{% endblock %}