{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 my-3 text-center">
            <h1>Coffee Statistics</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3 offset-9">
            <select id="categories" class="form-select" aria-label="select a category">
                {% for category in categories %}
                <option value="{{ category.name }}" {% if category.name == current_category.name %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
              </select>
        </div>
        <div class="col-12 my-3"></div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h2 class="me-3">{{ count }}</h2>
                        <i class="fa-solid fa-mug-hot h2 mt-1 ms-3"></i>
                    </div>
                    <p class="text-center text-body-secondary mb-0">Number of drinks</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h2 class="me-3">{{ min|floatformat:0 }}</h2>
                        <i class="fa-solid fa-circle-minus h2 mt-1 ms-3"></i>
                    </div>
                    <p class="text-center text-body-secondary mb-0">Lowest amount of {{ current_category.name }}{% if current_category.units %} ({{ current_category.units }}){% endif %}</p>
                </div>
            </div>
        </div>
        <div class="col-3 pb-3 ">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h2 class="me-3">{{ max|floatformat:0 }}</h2>
                        <i class="fa-solid fa-circle-plus h2 mt-1 ms-3"></i>
                    </div>
                    <p class="text-center text-body-secondary mb-0">Highest amount of {{ current_category.name }}{% if current_category.units %} ({{ current_category.units }}){% endif %}</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h2 class="me-3">{{ average|floatformat:0 }}</h2>
                        <i class="fa-solid fa-circle-info h2 mt-1 ms-3"></i>
                    </div>
                    <p class="text-center text-body-secondary mb-0">Average amount of {{ current_category.name }}{% if current_category.units %} ({{ current_category.units }}){% endif %}</p>
                </div>
            </div>
        </div>
        <div class="col-12 my-3">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 px-4 mb-5">
            <canvas class="shadow rounded-5 p-3" id="beverage-categories-chart"></canvas>
        </div>
        <div class="col-12 col-lg-6 px-4 mb-5">
            <canvas class="shadow rounded-5 p-3" id="nutrients-chart"></canvas>
        </div>
        <div class="col-12 col-lg-6 px-4 mb-5">
            <canvas class="shadow rounded-5 p-3" id="calories-sugar-chart"></canvas>
        </div>
        <div class="col-12 col-lg-6 px-4 mb-5">
            <canvas class="shadow rounded-5 p-3" id="beverages-chart"></canvas>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{{ dataset|json_script:"dataset" }}
<script type="text/javascript" src="{% static '/js/script.js' %}"></script>
{% endblock %}