{% extends "base.html" %}
{% block header %}
<div class="container-fluid g-0">
    <div class="row g-0">
        <div class="col-12 hero-image">
            <div class="overlay"></div>
            <div class="row g-0">
                <div class="col-12">
                    <div class="container text-center">
                        <h1 class="display-3 fw-semibold text-center text-capitalize text-light mb-5">Get your personalised coffee recommendations</h1>
                        <button class="btn btn-lg btn-danger rounded-pill px-4">Try Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
{% endblock %}