{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 my-3 text-center text-capitalize">
            <h1>coffee recommendations</h1>
        </div>
    </div>
<div class="row">
    <div class="col-8 offset-2">
        <form method="POST" action="{% url 'coffee_recommendations_results' %}" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
             {{ field | as_crispy_field }}
           {% endfor %}
           <div class="text-center">
            <button type="submit" class="btn btn-lg btn-danger rounded-pill px-4 my-3">Submit</button>
           </div>
          </form>
    </div>
</div>
</div>
{% endblock %}
